<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="persistence_file_txt" value="students.txt"/>
    <add key="persistence_file_xml" value="students.xml"/>
    <add key="persistence_file_json" value="students.json"/>
    <add key="flights_file_xml" value="flights.xml"/>
  </appSettings>
</configuration>