<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileManager.Presentation.WinSite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="persistence_file_txt" value="students.txt"/>
    <add key="persistence_file_xml" value="students.xml"/>
    <add key="persistence_file_json" value="students.json"/>
    <!-- Hacer configuración con variables de entorno -->
    <add key="filePath" value="C:\Users\Daniel= Perez\source\repos\FileManager\FileManager.Presentation.WinSite\bin\Debug\"/>
    <add key="flights_file_xml" value="flights.xml"/>
  </appSettings>
  <userSettings>
    <FileManager.Presentation.WinSite.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>en-GB</value>
      </setting>
    </FileManager.Presentation.WinSite.Properties.Settings>
  </userSettings>
</configuration>